/.mixin.out
/crafttweaker.log
/journeymap
/llibrary
/local
/logs
/mods/memory_repo
/options.txt
/logs
/saves
/resourcepacks
/crash-reports
/screenshots
/usercache.json
/config/jei/worldSettings.cfg
/config/jei/bookmarks.ini 
/config/AppliedEnergistics2/VersionChecker.cfg